!  __  ___ __ ___  ___  ___  _   _ _ __ ___ ___  ___   !
!  \ \/ / '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|  !
!   >  <| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \  !
!  /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/  !

!  x------------------------------------------------x  !
!  | variables                                      |  !
!  x------------------------------------------------x  !
#define fontSize 10

!  x------------------------------------------------x  !
!  | urxvt settings                                 |  !
!  x------------------------------------------------x  !
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 35
URxvt*externalBorder: 0

URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.font: xft:SourceCodePro-Regular:size=fontSize
URxvt.boldFont: xft:SourceCodePro-Bold:size=fontSize
URxvt.italicFont: xtf:SourceCodePro-Italic:size=fontSize
URxvt.boldItalicFont: xft:SourceCodePro-BoldItalic:size=fontSize

!  x------------------------------------------------x  !
!  | Xft fonts                                      |  !
!  x------------------------------------------------x  !
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!  x------------------------------------------------x  !
!  | misc.                                          |  !
!  x------------------------------------------------x  !
rofi.color-enabled: true

!  x           end of file, no seriously.           x
